<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'main/head.html.twig' %}
    <title>Login page</title>
</head>
<body class="flex flex-col items-center">
    {% include 'components/header/show.html.twig' %}
    <div class="container">
        {% include 'components/login_form/show.html.twig' %}
    </div>
</body>
</html>